<div class="flex container mx-auto">
  <div class="flex-none mr-20 mt-20">
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
  <div class="flex-1">
    <div class="chart1">
      <div class="text-4xl mt-12">Reports</div>
      <h1 class="my-8">Attendance by day</h1>
      <%= line_chart @attendances.group_by_day(:check_datetime).count %>
    </div>

    <br>

    <div class="chart2">
      <h1>Average time employees checked in/out by month</h1>
    </div>

    <div class="chart3">
      <h1>Absence report by month</h1>
    </div>
  </div>
</div>
