<div class="mx-auto rounded-xl bg-gray-300 -m-14 px-7">
  <p data-controller="hello" data-action="click->hello#Clock" class="text-5xl px-5 my-7"></p>
  <div class="">
    <form action="post" class="flex flex-col items-center my-24">
      <label for="" class="mb-3">Private Number</label>
      <input type="text">
      <button class="bg-blue-500 px-5 p-2 text-white my-5 rounded-md">Check</button>
    </form>
  </div>
</div>
